@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #fff;
}
ul, ol {
    list-style: none;
}

body {
    font-family: sans-serif;
    background: url(../images/s_images/body_bg.png);
}